<header id="header-pennymac-usa">
  <nav class="container-fluid navbar-fixed-top">
    
    <div class="navbar-gray">
      <div class="container">
                
        <div class="col-xs-6 col-sm-3">
        <button type="button" class="visible-xs-inline-block hidden-sm hidden-md hidden-lg pull-left mobile-menu-icon" data-toggle="offcanvas" data-target="#mobileMenu">
            <i class="fa fa-bars fa-lg">&nbsp;</i>
        </button>    
          <a href="https://www.pennymacusa.com/" class="navbar-brand">
            <img src="https://pennypixels.pennymacusa.com/img/logo.svg" alt="PennyMac Loan Services">
          </a>
        </div>
        
        <div class="col-sm-5 col-md-6 text-center hidden-xs visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
          <div class="nav-search">
            <form id="search-form" action="/search" role="search">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-search"></i>
                </div>
                <input name="q" type="text" class="form-control" placeholder="Type something to search">
              </div>
            </form>
          </div>
        </div>
        
        <div class="col-xs-6 col-sm-4 col-md-3 text-right nav-login">
          
            <a href="https://customers.pennymacusa.com/Account/Login" target="_blank"><button class="btn btn-success">Log In</button></a>
          
          <a href="https://customers.pennymacusa.com/Account/Register" class="adobe-analytics-servicing" target="_blank"><button class="btn btn-primary">Register</button></a>
        </div>
        
      </div>
    </div><!-- /.navbar-gray -->

    <div class="pnmac-header-nav-bar col-xs-10 offcanvas-sm navmenu navmenu-default navmenu-fixed-left" id="mobileMenu">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="nav-search">
              <form id="search-form" action="/search" role="search">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </div>
                  <input name="q" type="text" class="form-control" placeholder="Type something to search">
                </div>
              </form>
            </div>
          </li>
          <li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Purchasing <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="https://www.pennymacusa.com/purchasing">Purchasing Overview</a></li>
    <li><a href="https://www.pennymacusa.com/purchasing/purchasing-products">Home Purchase Loans</a></li>
    <li><a href="https://www.pennymacusa.com/multifamily-loans">Multifamily Loans (5+ Units)</a></li>
    <li><a href="https://www.pennymacusa.com/purchasing/purchasing-loan-calculators">Loan Calculators</a></li>
    <li><a href="https://www.pennymacusa.com/rates">Rates</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Refinancing <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="https://www.pennymacusa.com/refinancing">Refinancing Overview</a></li>
    <li><a href="https://www.pennymacusa.com/refinancing/refinancing-products">Refinancing Loans</a></li>
    <li><a href="https://www.pennymacusa.com/multifamily-loans">Multifamily Loans (5+ Units)</a></li>
    <li><a href="https://www.pennymacusa.com/refinancing/how-refinancing-works">How Refinancing Works</a></li>
    <li><a href="https://www.pennymacusa.com/refinancing/refinancing-calculators">Refinancing Calculators</a></li>
    <li><a href="https://www.pennymacusa.com/relief-and-assistance">Mortgage Relief</a></li>
    <li><a href="https://www.pennymacusa.com/rates">Rates</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relief &amp; Assistance <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="https://www.pennymacusa.com/relief-and-assistance">Relief &amp; Assistance Overview</a></li>
    <li><a href="https://www.pennymacusa.com/relief-and-assistance/options-to-stay-in-your-home">Options to Stay in Your Home</a></li>
    <li><a href="https://www.pennymacusa.com/relief-and-assistance/foreclosure-alternatives">Foreclosure Alternatives</a></li>
    <li><a href="https://www.pennymacusa.com/property-damage-disaster-assistance">Property Damage &amp; Disaster Assistance</a></li>
  </ul>
</li>
<li><a href="https://www.pennymacusa.com/rates">Rates</a></li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="https://www.pennymacusa.com/my-account">My Account Overview</a></li>
    <li><a href="https://www.pennymacusa.com/my-account/accessing-your-account-information">Access Account</a></li>
    <li><a href="https://customers.pennymacusa.com/Account/Login" target="_blank">Log In/Register</a></li>
    <li><a href="https://www.pennymacusa.com/my-account/new-borrower-information">New Customer</a></li>
    <li><a href="https://www.pennymacusa.com/my-account/making-payments">Making Payments</a></li>
    <li><a href="https://www.pennymacusa.com/my-account/tax-and-insurance">Tax &amp; Insurance</a></li>
    <li><a href="https://www.pennymacusa.com/relief-and-assistance">Mortgage Relief</a></li>
  </ul>
</li>    
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="https://www.pennymacusa.com/about-us">About PennyMac</a></li>
    <li><a href="https://www.pennymacusa.com/pennymac-reviews">Reviews &amp; Testimonials</a></li>
    <li><a href="https://www.pennymacusa.com/careers">Careers</a></li>
    <li><a href="https://www.pennymacusa.com/affinity">Affinity Programs</a></li>
    <li><a href="https://www.pennymacusa.com/reo-properties">REO Properties</a></li>
    <li><a href="http://ir.pennymacfinancial.com/CorporateProfile" target="_blank">Investor Relations</a></li>
  </ul>
</li>
<li><a href="https://www.pennymacusa.com/contact-us">Contact Us</a></li>
<li><a href="https://www.pennymacusa.com/blog">Learning Center</a></li>
          <li><a rel="nofollow" href="tel:1-866-549-3583">(866) 549-3583</a></li>
        </ul>
      </div>
    </div>
    
    <div class="breadcrumb-container col-xs-12 hidden-xs">
      <div class="container">
        <div class="breadcrumb">
          <a class="breadcrumb-item" href="https://www.pennymacusa.com">Home</a>
          <span class="breadcrumb-item active">Refinancing</span>
        </div>
      </div>
    </div>
    
  </nav>
</header>