<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Purchasing <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/purchasing">Purchasing Overview</a></li>
    <li><a href="/purchasing/purchasing-products">Home Purchase Loans</a></li>
    <li><a href="/multifamily-loans">Multifamily Loans (5+ Units)</a></li>
    <li><a href="/purchasing/purchasing-loan-calculators">Loan Calculators</a></li>
    <li><a href="/rates">Rates</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Refinancing <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/refinancing">Refinancing Overview</a></li>
    <li><a href="/refinancing/refinancing-products">Refinancing Loans</a></li>
    <li><a href="/multifamily-loans">Multifamily Loans (5+ Units)</a></li>
    <li><a href="/refinancing/how-refinancing-works">How Refinancing Works</a></li>
    <li><a href="/refinancing/refinancing-calculators">Refinancing Calculators</a></li>
    <li><a href="/relief-and-assistance">Mortgage Relief</a></li>
    <li><a href="/rates">Rates</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relief & Assistance <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/relief-and-assistance">Relief & Assistance Overview</a></li>
    <li><a href="/relief-and-assistance/options-to-stay-in-your-home">Options to Stay in Your Home</a></li>
    <li><a href="/relief-and-assistance/foreclosure-alternatives">Foreclosure Alternatives</a></li>
    <li><a href="/property-damage-disaster-assistance">Property Damage &amp; Disaster Assistance</a></li>
  </ul>
</li>
<li><a href="/rates">Rates</a></li>
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/my-account">My Account Overview</a></li>
    <li><a href="/my-account/accessing-your-account-information">Access Account</a></li>
    <li><a href="{{ login_url }}" target="_blank">Log In/Register</a></li>
    <li><a href="/my-account/new-borrower-information">New Customer</a></li>
    <li><a href="/my-account/making-payments">Making Payments</a></li>
    <li><a href="/my-account/tax-and-insurance">Tax &amp; Insurance</a></li>
    <li><a href="/relief-and-assistance">Mortgage Relief</a></li>
  </ul>
</li>    
<li class="dropdown">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/about-us">About PennyMac</a></li>
    <li><a href="/pennymac-reviews">Reviews &amp; Testimonials</a></li>
    <li><a href="/careers">Careers</a></li>
    <li><a href="/affinity">Affinity Programs</a></li>
    <li><a href="/reo-properties">REO Properties</a></li>
    <li><a href="http://ir.pennymacfinancial.com/CorporateProfile" target="_blank">Investor Relations</a></li>
  </ul>
</li>
<li><a href="/contact-us">Contact Us</a></li>
<li><a href="/blog">Learning Center</a></li>