/* Fix on USA: */
.breadcrumb {
  margin-left: -4px;
}
.pnmac-header-nav-bar {
  box-shadow: none !important;
}
.breadcrumb-container {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
  #header-pennymac-usa {
    padding-top: 49px;
  }
}

@media only screen and (min-width: 768px) {
  #header-pennymac-usa {
    padding-top: 155px !important;
  }
}


@media only screen and (max-width: 479px) {
  #header-pennymac-usa .navbar-gray .navbar-brand img {
    width: 91px;
    height: 29px;
  }
}

@media only screen and (min-width: 480px) {
  #header-pennymac-usa .navbar-gray .navbar-brand img {
    width: 115px;
    height: 42px;
  }
}

/* New: */
.gray-bkg {
  background-color: #f5f5f6;
}

.black-bkg {
  background-color: black;
  margin-left: -15px;
  margin-right: -15px;
  h5 {
    color: white !important;
  }
}

@media only screen and (max-width: 466px) {
  #purchasing-overview {
    height: 300px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/424391/ThinkstockPhotos-476568204-xs.jpg) no-repeat center bottom;
    background-size: cover;
  }
}

@media only screen and (min-width: 467px) {
  #purchasing-overview {
    height: 300px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/424391/ThinkstockPhotos-476568204-sm.jpg) no-repeat center bottom;
    background-size: cover;
  }
}

.hero h1 {
  font-weight: 700;
  color: #345dbb;
  background-color: #ecc000;
  display: inline-block;
  margin-top: 35px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.pop-up-box {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.box-align-right {
  margin-right: -15px;
}

.box-align-left {
  margin-left: -15px;
}

@media only screen and (min-width: 992px) {
  .pop-up-box {
    margin-top: -100px;
  }
}


.checked li, .checked-indented li {
  line-height: 1.25;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/817943/caviar-check.svg) no-repeat left center;
  list-style: none;
  padding-left: 30px;
  margin-bottom: 10px;
}

.fa-ul li {
  line-height: 1.25;
  margin-bottom: 10px;
}

@media only screen and (min-width: 500px) {
  .checked-indented li {
    margin-left: 30px;
  }
}


@media only screen and (min-width: 768px) {
  .mid-lines {
    border-left: solid 1px #D6D8DA;
    border-right: solid 1px #D6D8DA;
  }  
}

.border-lines {
  background-color: white;
  border-top: solid 1px #D6D8DA;
  border-bottom: solid 1px #D6D8DA;
}

.border-bottom {
  border-bottom: solid 1px #D6D8DA;
}

.border-sides {
  border-left: solid 1px #D6D8DA;
  border-right: solid 1px #D6D8DA;
}

.border-around {
  border: solid 1px #D6D8DA;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.flex-vertical-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 767px) {
  .border-lines {
    border: solid 1px #D6D8DA;
    margin: 15px !important;
  }
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .contact-row a[href^=tel] {
    color: #2053b4 !important;
  } 
}

.number {
  white-space: nowrap;
}


ul.circle {
  margin-left: 30px;
}

ul.circle li {
  list-style-type: circle !important;
  margin-bottom: 10px;
  line-height: 1.25;
}



html { overflow-x: hidden; }

// More info on how to use at: 
// http://v4-alpha.getbootstrap.com/components/utilities/#spacing

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  )
) !default;

// Margin and Padding

.m-x-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    .#{$abbrev}-a-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
    .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y !important; }
    .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x !important; }
    .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y !important; }
    .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x !important; }

    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right:  $length-x !important;
      #{$prop}-left:   $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top:    $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}

// Positioning
$zindex-navbar-fixed:      1030 !default;
.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;
}
